
.history-teacher{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: xx-large;
  background-color: rgb(128,128,128)
    
}
.history-teacher-name{
 margin-right: 20px;
}
.history-subject-name{
margin-left: 20px;
}

.history-class-buttons{
  display:flex;
  justify-content : center;
background-color : lightgrey
}
.history-class-button{
  margin: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.date{
  font-size: large;
  font-weight: 700;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(242, 239, 239)
}
.date-div{
  display: flex;
  justify-content: center;

}

.history-attendance-container{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
 
}
.history-table-row{
  padding-left: 50px;
  padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
font-weight: 500;
background-color: rgb(242, 239, 239);


}
.history-thead-row{
  background-color: grey;
  padding: 10px;
  
}
.history-students-list{
  background-color: rgb(219, 216, 216);
  padding: 6px;
  border-radius: 5px;
}
@media only screen and (max-width: 576px) {
    .history-teacher{
        display: flex;
        justify-content: center;
        padding: 10px;
        color: white;
        font-weight: 400;
        font-size: medium;
      background-color: rgb(128,128,128)
        
    }
    .history-teacher-name{
     margin-right: 10px;
    }
    .history-subject-name{
    margin-left: 10px;
    }
    .history-class-buttons{
      display:flex;
      justify-content : center
  
  }
}