
.custom-calendar {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.calendar-button{
  font-size: medium;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;

}

.custom-calendar .react-calendar__tile {
  padding: 0.75rem;
  background-color: transparent;
}

.custom-calendar .react-calendar__tile--now {
  background-color: #e0f7fa;
}

.custom-calendar .react-calendar__tile--active {
  background-color: #b2dfdb;
}

.custom-calendar .react-calendar__tile--hover {
  background-color: #80cbc4;
}

.custom-calendar .react-calendar__tile--disabled {
  background-color: #f5f5f5;
  color: #ccc;
}

.custom-calendar .react-calendar__tile--weekend {
  color: #f44336;
}

.history-teacher{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: xx-large;
  background-color: rgb(128,128,128)
    
}
.history-teacher-name{
 margin-right: 20px;
}
.history-subject-name{
margin-left: 20px;
}

.history-class-buttons{
  display:flex;
  justify-content : center;
background-color : lightgrey
}
.history-class-button{
  margin: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.date{
  font-size: large;
  font-weight: 700;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(242, 239, 239)
}
.date-div{
  display: flex;
  justify-content: center;

}

.history-attendance-container{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
 
}
.history-table-row{
  padding-left: 50px;
  padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
font-weight: 500;
background-color: rgb(242, 239, 239);


}
.history-thead-row{
  background-color: grey;
  padding: 10px;
  
}
.history-students-list{
  background-color: rgb(219, 216, 216);
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 576px) {
    .history-teacher{
        display: flex;
        justify-content: center;
        padding: 10px;
        color: white;
        font-weight: 600;
        font-size: medium;
      background-color: rgb(128,128,128)
        
    }
    .history-teacher-name{
     margin-right: 10px;
    }
    .history-subject-name{
    margin-left: 10px;
    }
    .history-class-buttons {
      display: flex;
      flex-wrap: wrap; /* Add this line */
      justify-content: center;
      text-align: center;
    }
  
    .history-class-button {
      margin: 5px;
      border-radius: 10px;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      flex: 1 0 calc(33.33% - 10px); /* Added line: Three buttons per line */
      max-width: calc(33.33% - 10px); /* Added line: Three buttons per line */
    }
  
  .history-table-row{
    padding-left: 14px;
    padding-top: 8px;
padding-right: 14px;
padding-bottom: 8px;
background-color: rgb(242, 239, 239);


}
.history-thead-row{
    background-color: grey;
}
.history-students-list{
    background-color: rgb(219, 216, 216);

    padding: 6px;
    border-radius: 5px;
}
}